body {
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
	background-color:#96D591;
}

.container {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
	background-color:#D2F0A2
}
input{
	background-color:#D2F0A2;
}

#securedPage {
    text-align: center;
}
