body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background-color:  #CABFDB;
    text-align: center;
}

header {
    background-color: #534f5a;
    color: white;
    padding: 1em;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    background-color: #E9E4F0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.btn {
    cursor: pointer;
    background-color: #534f5a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
   
}
input{
background-color:#CABFDB;
}